<div class="form-check ms-2">
    <input class="form-check-input fs-5" type="checkbox" value="" id="@Id">
    <label class="form-check-label fs-5 text-body-secondary" for="@Id">@Name</label>
</div>

@code
{
    [Parameter]
    public string Name { get; set; } = "";

    string Id => $"cb{Name.Replace(" ", "")}";
}
