@page "/about"

<PageTitle>About</PageTitle>

<!-- splash -->
<div class="about-splash p-5">
    <div class="bg-secondary bg-opacity-75 p-5">
        <p class="fs-1 py-5 text-center text-white text-uppercase">Changing the way the world views art</p>
        <p class="fs-5 fw-light text-white">
            Here at AINouveau, we specialize in offering an exclusive collection of unique,
            one-of-a-kind artworks. Each piece in our collection is created using state-of-the-art 
            AI technology and is designed to evoke emotion, inspire creativity, and enhance your
            living or working space. Our mission is to make exceptional art for our elite clientele
            and push the boundaries of what's possible in the world of art. Whether you're looking
            for a statement piece to showcase in your home or office, or a thoughtful gift for someone
            special, we have something for everyone. Browse our collection today and discover the art of the future!
        </p>
    </div>
</div>

<!-- what we believe -->
<div class="container-lg">
    <div class="row my-5">

        <!-- title -->
        <div class="col-12">
            <p class="fs-1 text-center">What We Believe</p>
            <hr />
        </div>

        <!-- vision -->
        <div class="col-12 col-md-4">
            <p class="fs-2 text-center mb-1">Our Vision</p>
            <p class="fs-6 text-body">
                Our luxury art store is dedicated to creating the most exquisite and luxurious
                art pieces that are truly unmatched in their beauty and sophistication.
                Using AI, we push the boundaries of traditional art and produce exclusive and
                extraordinary artworks that are coveted by art collectors and enthusiasts around the world.
            </p>
        </div>

        <!-- creative process -->
        <div class="col-12 col-md-4">
            <p class="fs-2 text-center mb-1">Our Creative Process</p>
            <p class="fs-6 text-body">
                At AI Nouveau, we use AI algorithms to generate original designs
                that are then refined and perfected by our team of skilled artists and designers.
                Our creative process involves a careful balance of human creativity and
                AI-driven innovation, resulting in artworks that are both aesthetically
                pleasing and intellectually stimulating.
            </p>
        </div>

        <!-- commitment to quality -->
        <div class="col-12 col-md-4">
            <p class="fs-2 text-center mb-1">Our Commitment to Quality</p>
            <p class="fs-6 text-body">
                We take pride in delivering top-quality luxury art pieces
                that meet the highest standards of craftsmanship and excellence.
                Our commitment to quality is reflected in every aspect of our business,
                from our use of premium materials to our rigorous quality control processes,
                ensuring that each piece we produce is a true masterpiece.
            </p>
        </div>
    </div>
</div>

@code
{

}
