.carousel-item {
    z-index: 1;
}

.room {
    position: absolute;
    z-index: -1;
}

.room-1 {
    height: 142px;
    width: 142px;
    margin-top: 121px;
    margin-left: 295px;
}

.room-2 {
    height: 104px;
    width: 104px;
    margin-top: 133px;
    margin-left: 137px;
}

.room-3 {
    height: 153px;
    width: 153px;
    margin-top: 69px;
    margin-left: 188px;
}

.room-shadow {
    box-shadow: inset 0 0 5px 3px #00000066
}