@page "/gallery"
@inject HttpClient httpClient

<PageTitle>Gallery</PageTitle>

<div class="container-xl">

    <!-- title -->
    <div class="row">
        <p class="fs-1 ls-1 text-uppercase text-center mt-5">Gallery</p>
    </div>

    <!-- navbar -->
    <GalleryNavMenu />

    <!-- main content -->
    <div class="row mt-1 mb-5 g-3 main-body">
        @foreach (var art in artworks)
        {
            <ArtTile ImageUrl="@art.ImageUrl" Name="@art.Name" Price="@art.Price" />
        }
    </div>
</div>

@code
{
    List<Artwork> artworks = new();

    protected override async Task OnInitializedAsync()
    {
        httpClient = new();
        httpClient.BaseAddress = new Uri("https://localhost:7225/");

        HttpResponseMessage res = await httpClient.GetAsync("api/artworks");
        if (res.IsSuccessStatusCode)
        {
            artworks = await res.Content.ReadFromJsonAsync<List<Artwork>>();
        }
        else
        {
            
        }
    }
}