.main-body {
    margin-left: 250px;
}

@media (max-width: 992px) {
    .main-body {
        margin-left: 0px;
    }
}

::deep .active > button {
    border: none;
    background-color: #212529 !important;
    color: white !important;
}

::deep .active > button:hover {
    background-color: #424649 !important;
}