<div class="col-12 col-sm-6 col-md-4">
    <div class="bg-offwhite border border-2 border-dark-subtle">
        <img class="w-100" src="images/kittenPainting.png" />
        <p class="fs-5 fw-light text-center text-uppercase mb-0 mt-2">Pointy Tailed Painter</p>
        <p class="fs-5 fw-light text-center mb-1">$6,800.00</p>
    </div>
</div>

@code
{
    
}