<nav class="navbar bg-offwhite border-top border-dark-subtle">
    <div class="container-fluid">
        <!-- logo and copyright -->
        <a class="logo px-2" href=""><img src="images/logo.png" height="20" /></a>
        <a class="nav-link disabled text-footer">
            Made by Cody Chaplin. &copy; Copyright @DateTime.Today.Year
        </a>
    </div>
</nav>

@code
{

}
