<div class="col-12 col-sm-6 col-md-4">
    <div class="bg-offwhite border border-2 border-dark-subtle">
        <img class="w-100" src="@ImageUrl" />
        <p class="fs-5 fw-light text-center text-uppercase mb-0 mt-2">@Name</p>
        <p class="fs-5 fw-light text-center mb-1">@Price.ToString("C0")</p>
    </div>
</div>

@code
{
    [Parameter]
    public string ImageUrl { get; set; } = "";

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public decimal Price { get; set; } = 0;
}