@page "/gallery"

<PageTitle>Gallery</PageTitle>

<div class="container-xl">

    <!-- title -->
    <div class="row">
        <p class="fs-1 ls-1 text-uppercase text-center mt-5">Gallery</p>
    </div>

    <!-- navbar -->
    <GalleryNavMenu />

    <!-- main content -->
    <div class="row mt-1 mb-5 g-2 main-body">
        <ArtTile />
        <ArtTile />
        <ArtTile />
        <ArtTile />
        <ArtTile />
    </div>
</div>

@code
{
    
}