@page "/"

<PageTitle>AI Nouveau</PageTitle>

<div class="row bg-offwhite">
    <div class="col-sm-4 col-12 m-0 p-0">
        <img class="img-fluid" src="images/kittenPainting.png" alt="kitten painting" />
        <p class="fs-small text-black-50 text-center py-2 m-0">
            “a photorealistic painting of an orange kitten dressed as an artist sketching on an easel”
        </p>
    </div>
    <div class="col-sm-8 col-12 align-self-center p-3">
        <p class="fs-6 m-0">Featured Artwork</p>
        <p class="fs-large m-0">Discover our Exclusive Collection</p>
        <p class="fs-3 text-secondary">Want to Immerse yourself in a world of luxury?</p>
        <a class="btn btn-dark px-4 py-2" href="gallery">Click Here</a>
    </div>
</div>

@code
{

}
